@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border));
  }
}

/*
  Theme variables
*/
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--background-dark: 222.2 84% 4.9%;
		--foreground-dark: 210 40% 98%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--card-dark: 222.2 84% 4.9%;
		--card-foreground-dark: 210 40% 98%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--popover-dark: 222.2 84% 4.9%;
		--popover-foreground-dark: 210 40% 98%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--primary-dark: 210 40% 98%;
		--primary-foreground-dark: 222.2 47.4% 11.2%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--secondary-dark: 217.2 32.6% 17.5%;
		--secondary-foreground-dark: 210 40% 98%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--muted-dark: 217.2 32.6% 17.5%;
		--muted-foreground-dark: 215 20.2% 65.1%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--accent-dark: 217.2 32.6% 17.5%;
		--accent-foreground-dark: 210 40% 98%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 100%;
		--destructive-dark: 0 84.2% 60.2%;
		--destructive-foreground-dark: 0 0% 100%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--border-dark: 217.2 32.6% 17.5%;
		--input-dark: 217.2 32.6% 17.5%;
		--ring-dark: 212.7 26.8% 83.9%;

		--chart-1: 20.5 90.2% 48.2%;
		--chart-2: 174.7 83.9% 31.6%;
		--chart-3: 200.4 98% 39.4%;
		--chart-4: 262.1 83.3% 57.8%;
		--chart-5: 333.3 71.4% 50.6%;

		--chart-1-dark: 24.6 95% 53.1%;
		--chart-2-dark: 173.4 80.4% 40%;
		--chart-3-dark: 198.6 88.7% 48.4%;
		--chart-4-dark: 258.3 89.5% 66.3%;
		--chart-5-dark: 330.4 81.2% 60.4%;
		--radius: 0.5rem;
	}
}

/*
  Theme switching based on this tweet from Devon Govett
  https://twitter.com/devongovett/status/1757131288144663027
*/
@layer base {
	:root {
		--theme-light: initial;
		--theme-dark: ;
		color-scheme: light dark;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--theme-light: ;
			--theme-dark: initial;
		}
	}

	[data-theme="light"] {
		--theme-light: initial;
		--theme-dark: ;
		color-scheme: light;
	}

	[data-theme="dark"] {
		--theme-light: ;
		--theme-dark: initial;
		color-scheme: dark;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: "Inter", serif;
		font-style: normal;
	}
}

@font-face {
	font-family: "LPMQ IsepMisbah";
	src: local("LPMQ IsepMisbah"), url("/fonts/LPMQ-IsepMisbah.ttf")
		format("truetype");
}

@font-face {
	font-family: Uthmani-Hafs;
	src: url("/fonts/Uthmani.woff2") format("woff2"), url("/fonts/Uthmani.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IndoPak;
	src: url("/fonts/IndoPak.woff2") format("woff2"), url("/fonts/IndoPak.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Cabin;
	src: local("Cabin-Bold");
	src: url("/fonts/Cabin-Bold.eot");
	src: url("/fonts/Cabin-Bold.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Cabin-Bold.woff2") format("woff2"),
		url("/fonts/Cabin-Bold.woff") format("woff"), url("/fonts/Cabin-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


.font-lpmq {
	font-family: "LPMQ IsepMisbah";
	font-size: 1.875rem; /* 30px */
	line-height: 4rem; /* 36px */
}

.font-indopak {
	font-family: "IndoPak";
	font-size: 1.875rem; /* 30px */
	line-height: 4rem; /* 36px */
}

.font-uthmani {
	font-family: "Uthmani-Hafs";
	font-size: 40px; /* 30px */
	line-height: 4rem; /* 36px */
}

code {
	font-family: "monospace";
}

.font-lpmq-2 {
	font-family: "LPMQ IsepMisbah";
}

.font-indopak-2 {
	font-family: "IndoPak";
}

.font-uthmani-2 {
	font-family: "Uthmani-Hafs";
}

.font-arabic {
	font-family: "LPMQ IsepMisbah";
	font-size: 1.875rem; /* 30px */
	line-height: 4rem; /* 36px */
}

.tab-content {
	display: none; /* Default sembunyikan semua konten */
}

.tab-content[data-state="active"] {
	display: block; /* Tampilkan hanya konten tab yang aktif */
}

@keyframes bounceLeftRight {
	0%,
	100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
}

.bounce-left-right {
	animation: bounceLeftRight 2s ease-in-out infinite;
}

.blink-cursor {
	display: inline-block;
	animation: blink 1.5s steps(2, start) infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
