@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border));
  }
}

/*
  Theme variables
*/
@layer base {
	:root {
	    --background: 0 0% 100%;
	    --foreground: 240 10% 3.9%;
	    --muted: 220 14.3% 95.9%;
	    --muted-foreground: 220 8.9% 46.1%;
	    --popover: 0 0% 100%;
	    --popover-foreground: 224 71.4% 4.1%;
	    --card: 0 0% 100%;
	    --card-foreground: 224 71.4% 4.1%;
	    --border: 220 13% 91%;
	    --input: 220 13% 91%;
	    --primary: 220.9 39.3% 11%;
	    --primary-foreground: 210 20% 98%;
	    --secondary: 220 14.3% 95.9%;
	    --secondary-foreground: 220.9 39.3% 11%;
	    --accent: 220 14.3% 95.9%;
	    --accent-foreground: 220.9 39.3% 11%;
	    --destructive: 0 72.22% 50.59%;
	    --destructive-foreground: 210 20% 98%;
	    --ring: 224 71.4% 4.1%;
	    --chart-1: 20.5 90.2% 48.2%;
	    --chart-2: 174.7 83.9% 31.6%;
	    --chart-3: 200.4 98% 39.4%;
	    --chart-4: 262.1 83.3% 57.8%;
	    --chart-5: 333.3 71.4% 50.6%;
	    --radius: 0.5rem;

	    --background-dark: 222.2 84% 4.9%;
	    --foreground-dark: 0 0% 98%;
	    --muted-dark: 215 27.9% 16.9%;
	    --muted-foreground-dark: 217.9 10.6% 64.9%;
	    --popover-dark: 224 71.4% 4.1%;
	    --popover-foreground-dark: 210 20% 98%;
	    --card-dark: 224 71.4% 4.1%;
	    --card-foreground-dark: 210 20% 98%;
	    --border-dark: 215 27.9% 16.9%;
	    --input-dark: 215 27.9% 16.9%;
	    --primary-dark: 210 20% 98%;
	    --primary-foreground-dark: 220.9 39.3% 11%;
	    --secondary-dark: 215 27.9% 16.9%;
	    --secondary-foreground-dark: 210 20% 98%;
	    --accent-dark: 215 27.9% 16.9%;
	    --accent-foreground-dark: 210 20% 98%;
	    --destructive-dark: 0 72.22% 50.59%;
	    --destructive-foreground-dark: 210 20% 98%;
	    --ring-dark: 216 12.2% 83.9%;
	    --chart-1-dark: 24.6 95% 53.1%;
	    --chart-2-dark: 173.4 80.4% 40%;
	    --chart-3-dark: 198.6 88.7% 48.4%;
	    --chart-4-dark: 258.3 89.5% 66.3%;
	    --chart-5-dark: 330.4 81.2% 60.4%;

	    --background-sephia: 39.4 69.6% 91%;
	    --foreground-sephia: 222.2 84.00% 4.90%;
	    --card-sephia: 39.4 69.6% 91%;
	    --card-foreground-sephia: 222.2 84.00% 4.90%;
	    --primary-sephia: 38.8 28.8% 34.7%;
	    --primary-foreground-sephia: 210 40% 98%;
	    --secondary-sephia: 38.6 67.8% 82.9%;
	    --secondary-foreground-sephia: 222.2 47.4% 11.20%;
	    --muted-sephia: 38.6 67.8% 82.9%;
	    --muted-foreground-sephia: 0, 0%, 40%;
	    --accent-sephia: 38.6 67.8% 82.9%;
	    --accent-foreground-sephia: 38.2 73.3% 2.9%;
	    --popover-sephia: 39.4 69.6% 91%;
	    --popover-foreground-sephia: 222.2 84.00% 4.90%;
	    --destructive-sephia: 0 84.2% 60.2%;
	    --destructive-foreground-sephia: 210 40% 98%;
	    --border-sephia: 38, 36%, 78%;
	    --input-sephia: 38, 36%, 78%;
	    --ring-sephia: 38.2 73.3% 2.9%;
	    --chart-1-sephia: 24.6 95% 53.1%;
	    --chart-2-sephia: 173.4 80.4% 40%;
	    --chart-3-sephia: 198.6 88.7% 48.4%;
	    --chart-4-sephia: 258.3 89.5% 66.3%;
	    --chart-5-sephia: 330.4 81.2% 60.4%;
	}

}

/*
  Theme switching based on this tweet from Devon Govett
  https://twitter.com/devongovett/status/1757131288144663027
*/
@layer base {
	:root {
		--theme-light: initial;
		--theme-dark: ;
        --theme-sephia: ;
		color-scheme: light dark sephia;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--theme-light: ;
            --theme-sephia: ;
			--theme-dark: initial;
		}
	}

	[data-theme="light"] {
		--theme-light: initial;
		--theme-dark: ;
        --theme-sephia: ;
		color-scheme: light;
	}

	[data-theme="dark"] {
		--theme-light: ;
        --theme-sephia: ;
		--theme-dark: initial;
		color-scheme: dark;
	}

	[data-theme="sephia"] {
		--theme-light: ;
		--theme-dark: ;
        --theme-sephia: initial;
        scrollbar-color: hsl(38.9 68.1% 32%) hsl(38.6 67.8% 82.9%) ;
		color-scheme: sephia;
        scrollbar-width: thin;
        scrollbar-gutter: stable;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'Fira Sans', serif;
		font-weight: 400;
	}
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@font-face {
	font-family: "LPMQ IsepMisbah";
	src: url("/fonts/LPMQ-IsepMisbah.ttf")
		format("truetype");
}

@font-face {
	font-family: "UthmanTN_v2-0";
	src: url("/fonts/UthmanTN_v2-0.ttf")
		format("truetype");
}

@font-face {
	font-family: "UthmanTNB_v2-0";
	src: url("/fonts/UthmanTNB_v2-0.ttf")
		format("truetype");
}

@font-face {
	font-family: Uthmani-Hafs;
	src: url("/fonts/Uthmani.woff2") format("woff2"), url("/fonts/Uthmani.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IndoPak;
	src: url("/fonts/AlQuran-IndoPak-by-QuranWBW.v.4.2.2-WL-COMPRESSED.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

.font-uthmani-v2-reguler {
	font-family: "UthmanTN_v2-0";
}

.font-uthmani-v2-bold {
	font-family: "UthmanTNB_v2-0";
}

.font-lpmq {
	font-family: "LPMQ IsepMisbah";
	font-size: 1.875rem; /* 30px */
	line-height: 4rem; /* 36px */
}

.font-indopak {
	font-family: "IndoPak";
}

.font-uthmani-hafs,.font-uthmani-hafs-simple  {
	font-family: "Uthmani-Hafs";
	font-size: 40px; /* 30px */
	line-height: 4rem; /* 36px */
}

code {
	font-family: "monospace";
}

.font-kemenag {
	font-family: "LPMQ IsepMisbah";
}

.font-arabic {
	font-family: "LPMQ IsepMisbah";
	font-size: 1.875rem; /* 30px */
	line-height: 4rem; /* 36px */
}

.tab-content {
	display: none; /* Default sembunyikan semua konten */
}

.tab-content[data-state="active"] {
	display: block; /* Tampilkan hanya konten tab yang aktif */
}

@keyframes bounceLeftRight {
	0%,
	100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
}

.bounce-left-right {
	animation: bounceLeftRight 2s ease-in-out infinite;
}

.blink-cursor {
	display: inline-block;
	animation: blink 1.5s steps(2, start) infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
